{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}


<div class="row justify-content-center my-3">
  <div class="col-5">
    <center><img src="{% static 'portfolio/Bitomoji_70 copy.png' %}" class="img-fluid"></center>
  </div>
</div>
<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">Nima Motieifard</h1>
     <script src="https://tryhackme.com/badge/658285"></script>
  </div>
</div>
<br>
<br>
<!--<h2 class="mt-5"> Welcome to my personal website!</h2>-->
<!--<h3>My main goal for developing this website is to share my experience learning new things!-->
<!--<h3>I am currently a Computer Science student so a lot of the materials found here are CS related. That being said, not everything here is about CS.</h3>-->
<!--<h3>You can also find content about personal finance (investing, crypto, stock, NFT…) which is something that many people do not learn about in school or even in university!</h3>-->
<!--<h3>In addition, I have dedicated the last portion of this website to one of my favorite hobbies: photography.</h3>-->

<br>


<h1 class="mt-5"> Projects</h1>

<h2 class="mt-5"><i class="fab fa-swift"></i> Real-time Messanger App( featured by <a href="https://brainstation.io">BrainStation</a>)</h2>
<br>
<h3>Features:</h3>
<h4>&emsp;<i class="fas fa-comments"></i> Text, picture, video and location messages</h4>
<h4>&emsp;<i class="far fa-envelope-open"></i> Email/pass registration and logIn</h4>
<h4>&emsp;<i class="fas fa-trash-alt"></i> Delete messages</h4>
<h4>&emsp;<i class="fas fa-search"></i> Search for other users</h4>

<!--<div class="row">-->
<!--     <div class="col-lg-4 col-md-6">-->
<!--        <img src="{% static 'portfolio/ConversationView.jpg' %}" class="img-fluid mb-2">-->
<!--    </div>-->
<!--    <div class="col-lg-4 col-md-6">-->
<!--        <img src="{% static 'portfolio/RegisterView_4_38.jpg' %}" class="img-fluid mb-2">-->
<!--    </div>-->
<!--</div-->

<br>
<h4><i class="fab fa-github"></i> GitHub: <a href="https://github.com/nimamot/Massenger">nimamot</a></h4>
<br>
<br>


<h2 class="mt-5"><i class="fab fa-python"></i> Python Projects</h2>
<br>
<h3>&emsp;<i class="fab fa-bitcoin"></i> Binance Console App</h3>
<h4>&emsp; &emsp; Check the price for any Crypto.</h4>
<h4>&emsp; &emsp; Check your Binance Wallet balance with your API Key.</h4>
<h4>&emsp; &emsp; Place Limit/Market orders.</h4>
<h4>&emsp; &emsp; Check your open orders.</h4>
<h4>&emsp; &emsp;<i class="fab fa-github"></i> GitHub: <a href="https://github.com/nimamot/pyTools/blob/main/binance/binance01.py">nimamot</a></h4>
<br>
<br>
<h3>&emsp;<i class="fas fa-pager"></i> Personal Website</h3>
<h4>&emsp; &emsp; Powerd by Django, HTML, CSS, and <a href="https://www.pythonanywhere.com">Pythonanywhere</a>.</h4>
<h4>&emsp; &emsp;<i class="fab fa-github"></i> GitHub: <a href="https://github.com/nimamot/Personal-Website">nimamot</a></h4>
<br>

<h3>&emsp;<i class="fas fa-pager"></i> Notes Buddy</h3>
<h4>&emsp; &emsp; <a href="http://3.86.117.52/wordpress/">Notes Buddy</a></h4>
<h4>&emsp; &emsp; Powerd by AWS, Apache2, SQL, WordPress.</h4>
<br>


<h2 class="mt-5"><i class="fab fa-node-js"></i> Javascript Projects</h2>
<br>
<h3>&emsp; <i class="fas fa-pen"></i> Spanish learning Website( <i class="fas fa-spinner"></i> In Progress )</h3>
<h3>&emsp; &emsp; Features:</h3>
<h4>&emsp; &emsp; &emsp; Practice your Spanish by filling in the missing words from spanish song and check your answers instantly.</h4>
<h4>&emsp; &emsp; &emsp; Learn new vocabularies.</h4>
<h4>&emsp; &emsp; &emsp; Practice your grammer.</h4>
<h4>&emsp; &emsp; &emsp; <i class="fas fa-pager"></i> Link to the website: <a href="https://nimamot.github.io/Spanish/" target="blank">nimamot/espanol</a></h4>
<h4>&emsp; &emsp; &emsp; <i class="fab fa-github"></i> GitHub: <a href="https://github.com/nimamot/Spanish" target="blank">nimamot</a></h4>
<br>
<br>

 <!--<h3>&emsp;<i class="fas fa-pager"></i> Personal Website</h3>-->
<!--<h4>&emsp; &emsp; Powerd by Django, HTML, CSS, and <a href="https://www.pythonanywhere.com">Pythonanywhere</a>.</h4>-->
<!--<h4>&emsp; &emsp;<i class="fab fa-github"></i> GitHub: <a href="https://github.com/nimamot/Personal-Website">nimamot</a></h4>-->
<!--<br>-->
<hr>
<h2 class="mt-5"><i class="far fa-clipboard"></i> Notes</h2>
<h3><a href="https://www.notion.so/18aaad9bad9140b9a099009345569ee3?v=f58647ad3fff4396ace63147be26b76f" target="blank">Software ConstructionCPSC (UBC/CPSC210)</a></h3>
<h3><a href="https://www.notion.so/OOP-e04db3ff9763436f916e3951f4fe8c13" target="blank">OOP with Java (link to Notion)</a></h3>
<h3><a href="https://honey-stay-5a5.notion.site/754fe34c4a5e47729f2b62ae479762dc?v=2b237de07c1749e494e06e068901f537">Systematic Program Design (UBC/CPSC110)</a></h3>
<h3><a href={% url 'blog:all_blogs' %}>CCNA</a></h3>
<h3><a href={% url 'linux:all_linux' %}>Ethical Hacking</a></h3>
<h3><a href="https://honey-stay-5a5.notion.site/A-ff3ef1d90abb4b18a99ec9bd59f0aafe">Comptia A+</a></h3>
<h2 class="mt-5"><i class="fab fa-spotify"></i> Spotify coding playlist</h2>
<br>

<iframe src="https://open.spotify.com/embed/playlist/1mZQms6Cf0vNPioC61bISW" width="100%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<br>
<br>

<!--<h2 class="mt-5"><i class="fas fa-camera-retro"></i> Photography  <a href="https://www.instagram.com/photography_cafeee/" target="blank"><i class="fab fa-instagram"></i></a> </h2>-->
<!--<br>-->
<!--<div class="row">-->
<!--  {% for project in projects %}-->
<!--  <div class="col-lg-4 col-md-6">-->

<!--    {% if project.url %}-->
<!--    <a href="{{ project.url }}">-->
<!--      <img src="{{ project.image.url }}" class="img-fluid mb-2">-->
<!--    </a>-->
<!--    {% else %}-->

<!--    <img src="{{ project.image.url }}" class="img-fluid mb-2">-->
<!--    {% endif %}-->
<!--    <h3>{{ project.title }}</h3>-->
<!--    <p>{{ project.description }}</p>-->

<!--  </div>-->
<!--  {% endfor %}-->
<!--  <hr>-->
<!--</div>-->


{% endblock %}
